@model ViewmMODeElMASTER
@{
    ViewData["Title"] = ResourceWebAr.LBAddEditRequestsTask;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminAr.cshtml";
}

<div class="box-content">
    <ul class="list-inline">
        <li class="margin-bottom-10"><a href="#"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">@ResourceWebAr.LBAddEditRequestsTask</button></a></li>/
        <li class="margin-bottom-10"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Admin Home</button></a></li>/
        <li class="margin-bottom-10"><a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Home</button></a></li>

    </ul>
    <div class="row small-spacing">
        <div class="col-xs-6">
            <div class="box-content card white">
                <h4 class="box-title">@ResourceWebAr.LBAddEditRequestsTask</h4>
                <!-- /.box-title -->
                <div class="card-content">
                    <form role="form" method="post" asp-controller="RequestsTask" asp-action="SaveAr" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" asp-for="@Model.RequestsTask.DataEntry" class="form-control" value="@User.Identity.Name">
                            <input type="hidden" asp-for="@Model.RequestsTask.IdRequestsTask" class="form-control">
                            <input type="hidden" asp-for="@Model.RequestsTask.DateTimeEntry" value="@DateTime.Now">
                            <input type="hidden" asp-for="@Model.RequestsTask" id="url">
                            <span style="color:royalblue"> <strong>@TempData["Saved successfully"]</strong></span>
                            <span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
                        </div>
                        <div class="card-content">
                            <div class="row small-spacing">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.RequestsTask.UserId" for="merchant-select">@ResourceWebAr.LbUserName</label>
                                        <select id="merchant-select" class="form-control" asp-for="@Model.RequestsTask.UserId" asp-items="@(new SelectList(ViewBag.USer, "Id", "Name"))">
                                        </select>
                                        <span asp-validation-for="@Model.RequestsTask.UserId" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.RequestsTask.IdTask" for="merchant-select">@ResourceWebAr.LbTitleEn</label>
                                        <select id="merchant-select" class="form-control" asp-for="@Model.RequestsTask.IdTask" asp-items="@(new SelectList(ViewBag.Task, "IdTask", "TitleAr"))">
                                        </select>
                                        <span asp-validation-for="@Model.RequestsTask.IdTask" class="text-danger"></span>

                                    </div>
                                </div>
                                <!-- /.col-xs-3 -->
                                <!-- /.col-xs-4 -->
                                <!-- /.col-xs-5 -->
                            </div>

                            <div class="row small-spacing">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.RequestsTask.RequestsTitelAr" for="exampleInputEmail1">@ResourceWebAr.LbRequestsTitelAr</label>
                                        <input asp-for="@Model.RequestsTask.RequestsTitelAr" type="text" placeholder="@ResourceWebAr.LbRequestsTitelAr ...." class="form-control" maxlength="300">
                                        <span asp-validation-for="@Model.RequestsTask.RequestsTitelAr" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.RequestsTask.RequestsTitelEn" for="exampleInputEmail1">@ResourceWebAr.LbRequestsTitelEn</label>
                                        <input asp-for="@Model.RequestsTask.RequestsTitelEn" type="text" placeholder="@ResourceWebAr.LbRequestsTitelEn ...." class="form-control" maxlength="300">
                                        <span asp-validation-for="@Model.RequestsTask.RequestsTitelEn" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row small-spacing">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.RequestsTask.RequestsAr" for="exampleInputEmail1">@ResourceWebAr.LbRequestsAr</label>
                                        <textarea asp-for="@Model.RequestsTask.RequestsAr" type="text" placeholder="@ResourceWebAr.LbRequestsAr ...." class="form-control" maxlength="2000" rows="5"></textarea>
                                        <span asp-validation-for="@Model.RequestsTask.RequestsAr" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.RequestsTask.RequestsEn" for="exampleInputEmail1">@ResourceWebAr.LbRequestsEn</label>
                                        <textarea asp-for="@Model.RequestsTask.RequestsEn" type="text" placeholder="@ResourceWebAr.LbRequestsEn ...." class="form-control" maxlength="2000" rows="5"></textarea>
                                        <span asp-validation-for="@Model.RequestsTask.RequestsEn" class="text-danger"></span>
                                    </div>
                                </div>



                            </div>
                            <div class="row small-spacing">
                                <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.RequestsTask.AddedBy" for="exampleInputEmail1">@ResourceWebAr.LbAddedBy</label>
                                        <input asp-for="@Model.RequestsTask.AddedBy" type="text" placeholder="@ResourceWebAr.LbAddedBy ...." class="form-control" maxlength="300">
                                        <span asp-validation-for="@Model.RequestsTask.AddedBy" class="text-danger"></span>
                                    </div>
                                </div>




                                <div class="card-content">
                                    <div class="form-group">
                                        <p><input type="file" accept="image/*" name="Files" id="file" onchange="loadFile(event)" style="display: none;"></p>
                                        <p><label class="btn btn-violet btn-rounded btn-bordered waves-effect waves-light" for="file" style="cursor: pointer;" name="Files">@ResourceWebAr.LBUpload_image</label></p>
                                        <p><img id="output" width="450" height="300" /></p>
                                        <span style="color:red"><strong>@TempData["Message"]</strong></span>
                                    </div>
                                </div>

                                <!-- /.row -->
                            </div>

                            <div class="card-content">


                                <div class="checkbox margin-bottom-20">
                                    <div class="switch success"><input type="checkbox" asp-for="@Model.RequestsTask.CurrentState" id="switch-10" checked="checked"><label for="switch-10">@ResourceWebAr.lbCurrentState</label></div>
                                </div>


                                <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">@ResourceWebAr.lbSave</button>

                            </div>

                    </form>
                </div>
                <!-- /.card-content -->
            </div>
            <!-- /.box-content -->
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <script>
        $("#url").val(window.location.href);
    </script>
}

