@model ViewmMODeElMASTER
@{
    ViewData["Title"] = ResourceWeb.LBMYRequestsTask;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-xs-12">
    <div class="box-content">
        <ul class="list-inline">
            <li class="margin-bottom-10"><a href="#"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">@ResourceWeb.LBMYRequestsTask</button></a></li>/
            <li class="margin-bottom-10"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Admin Home</button></a></li>/
            <li class="margin-bottom-10"><a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Home</button></a></li>
        </ul>
        <!-- /.box-title -->
        <div class="dropdown js__drop_down">
            <a asp-area="Admin" asp-controller="RequestsTask" asp-action="AddEditRequestsTask"><button type="button" class="btn btn-violet btn-rounded btn-bordered waves-effect waves-light" style="margin-bottom:20px">Add</button></a>
        </div>
        <!-- /.dropdown js__dropdown -->
        <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <div id="rootwizard-progress">
                        <div class="tab-header">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <ul>
                                        <li><a href="#tab-progress-1" data-toggle="tab">@ResourceWeb.LbInformaitionAr</a></li>
                                        <li><a href="#tab-progress-2" data-toggle="tab">@ResourceWeb.LbInformaitionEn</a></li>
                                        <li><a href="#tab-progress-3" data-toggle="tab">@ResourceWeb.LbOpration</a></li>
                                        @*    <li><a href="#tab-progress-5" data-toggle="tab">Fifth</a></li>  *@
                                    </ul>
                                </div>
                                <div>
                                    <span style="color:royalblue"> <strong>@TempData["Saved successfully"]</strong></span>
                                    <span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="bar" class="progress">
                                <div class="progress-bar active progress-bar-info progress-bar-striped bar"></div>
                            </div>
                            <div class="tab-pane" id="tab-progress-1">
                                <div class='table-responsive'>
                                    <div style="overflow-x:auto;">
                                        <table id="example" class="table table-striped table-bordered table-hover display dataTable responsive" style="width: 100%;" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">@ResourceWeb.LbId</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbPhoto</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbUserName</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbUserPhone</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbProjectNameAr</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbTitleAr</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbDescriptionAr</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbStartDate</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbEndtDate</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbPhoto</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbRequestsTitelAr</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbRequestsAr</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbAddedBy</th>
                                            <tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbId</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbPhoto</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbUserName</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbUserPhone</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbProjectNameAr</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbTitleAr</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbDescriptionAr</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbStartDate</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbEndtDate</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbPhoto</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbRequestsTitelAr</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbRequestsAr</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbAddedBy</th>
                                            </tfoot>
                                            <tbody>
                                                        @foreach (var item in Model.ListViewRequestsTask)
                                                        {
                                                    <tr role="row" class="odd">
                                                        <td>@item.IdRequestsTask</td>
                                                        <td class="sorting_1"> <img src="@string.Format("/Images/Users/{0}",item.ImageUser)" class="img-bordered img-circle img-circle" style="width:100px; height:100px"></td>
                                                        <td class="truncate-50">@item.Name</td>
                                                        <td class="truncate-50">@item.PhoneNumber</td>
                                                        <td class="truncate-50">@item.ProjectNameAr</td>
                                                        <td class="truncate-50">@item.TitleAr</td>
                                                        <td class="truncate-50">@item.DescriptionAr</td>
                                                        <td class="truncate-50">@item.StartDate</td>
                                                        <td class="truncate-50">@item.EndtDate</td>
                                                        <td class="sorting_1">
                                                                    @if (string.IsNullOrEmpty(item.Photo))
                                                                    {
                                                                <img src="/Images/Home/default-image.jpg" class="img-bordered img-circle" style="width:100px; height:100px" />
                                                                    }
                                                                    else
                                                                    {
                                                                <img src="@string.Format("/Images/Home/{0}", item.Photo)" class="img-bordered img-circle" style="width:100px; height:100px" />
                                                                    }
                                                        </td>
                                                        <td class="truncate-50">@item.RequestsTitelAr</td>
                                                        <td class="truncate-50">@item.RequestsAr</td>
                                                        <td class="truncate-50">@item.AddedBy</td>
                                                    </tr>
                                                        }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-progress-2">
                                <div class='table-responsive'>
                                    <div style="overflow-x:auto;">
                                        <table id="example2" class="table table-striped table-bordered table-hover display dataTable responsive" style="width: 100%;" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">@ResourceWeb.LbId</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbPhoto</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbUserName</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbUserPhone</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbProjectNameEn</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbTitleEn</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbDescriptionEn</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbStartDate</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbEndtDate</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbPhoto</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbRequestsTitelEn</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbRequestsEn</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbAddedBy</th>
                                            <tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbId</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbPhoto</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbUserName</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbUserPhone</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbProjectNameEn</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbTitleEn</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbDescriptionEn</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbStartDate</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbEndtDate</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbPhoto</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbRequestsTitelEn</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbRequestsEn</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbAddedBy</th>
                                            </tfoot>
                                            <tbody>
                                                        @foreach (var item in Model.ListViewRequestsTask)
                                                        {
                                                    <tr role="row" class="odd">
                                                        <td>@item.IdRequestsTask</td>
                                                        <td class="sorting_1"> <img src="@string.Format("/Images/Users/{0}",item.ImageUser)" class="img-bordered img-circle img-circle" style="width:100px; height:100px"></td>
                                                        <td class="truncate-50">@item.Name</td>
                                                        <td class="truncate-50">@item.PhoneNumber</td>
                                                        <td class="truncate-50">@item.ProjectName</td>
                                                        <td class="truncate-50">@item.TitleEn</td>
                                                        <td class="truncate-50">@item.DescriptionEn</td>
                                                        <td class="truncate-50">@item.StartDate</td>
                                                        <td class="truncate-50">@item.EndtDate</td>
                                                        <td class="sorting_1">
                                                                    @if (string.IsNullOrEmpty(item.Photo))
                                                                    {
                                                                <img src="/Images/Home/default-image.jpg" class="img-bordered img-circle" style="width:100px; height:100px" />
                                                                    }
                                                                    else
                                                                    {
                                                                <img src="@string.Format("/Images/Home/{0}", item.Photo)" class="img-bordered img-circle" style="width:100px; height:100px" />
                                                                    }
                                                        </td>
                                                        <td class="truncate-50">@item.RequestsTitelEn</td>
                                                        <td class="truncate-50">@item.RequestsEn</td>
                                                        <td class="truncate-50">@item.AddedBy</td>
                                                    </tr>
                                                        }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-progress-3">
                                <div class='table-responsive'>
                                    <div style="overflow-x:auto;">
                                        <table id="example3" class="table table-striped table-bordered display dataTable table-responsive" style="width: 100%;" role="grid" aria-describedby="example_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">@ResourceWeb.LbId</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbPhoto</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbUserName</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbTitleEn</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbProjectNameEn</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbRequestsTitelEn</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbAddedBy</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbDataEntry</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.LbDateTimeEntry</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 64px;">@ResourceWeb.lbCurrentState</th>
                                                    <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending">@ResourceWeb.LbOpration</th>
                                            <tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbId</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbPhoto</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbUserName</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbTitleEn</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbProjectNameEn</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbRequestsTitelEn</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbAddedBy</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbDataEntry</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbDateTimeEntry</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.lbCurrentState</th>
                                                    <th rowspan="1" colspan="1">@ResourceWeb.LbOpration</th>
                                            </tfoot>
                                            <tbody>
                                                        @foreach (var item in Model.ListViewRequestsTask)
                                                        {
                                                    <tr role="row" class="odd">
                                                        <td>@item.IdRequestsTask</td>
                                                        <td class="sorting_1"> <img src="@string.Format("/Images/Users/{0}",item.ImageUser)" class="img-bordered img-circle img-circle" style="width:100px; height:100px"></td>
                                                        <td class="truncate-50">@item.Name</td>
                                                        <td class="truncate-50">@item.TitleAr</td>
                                                        <td class="truncate-50">@item.ProjectName</td>
                                                        <td class="truncate-50">@item.RequestsTitelEn</td>
                                                        <td class="truncate-50">@item.AddedBy</td>
                                                        <td>@item.DataEntry</td>
                                                        <td>@item.DateTimeEntry</td>
                                                        <td>
                                                            <div class="switch primary"><input type="checkbox" checked="@item.CurrentState" IdRequestsTask="switch-2" disabled><label for="switch-2">@item.CurrentState</label></div>
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline">
                                                                <li class="margin-bottom-10"><a asp-area="Admin" asp-controller="RequestsTask" asp-action="AddEditRequestsTaskImage" asp-route-IdRequestsTask="@item.IdRequestsTask"><button type="button" class="btn btn-primary btn-circle btn-lg waves-effect waves-light"><i class="ico fa fa-edit"></i></button></a></li>|
                                                                <li class="margin-bottom-10"><a asp-area="Admin" asp-controller="RequestsTask" asp-action="DeleteData" asp-route-IdRequestsTask="@item.IdRequestsTask"><button type="button" class="btn btn-danger btn-circle btn-lg waves-effect waves-light"><i class="ico fa fa-remove"></i></button></a></li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                        }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <ul class="pager wizard">
                                <li class="previous"><a href="javascript:void(0)">Previous</a></li>
                                <li class="next"><a href="javascript:void(0)">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 4 of 4 entries (filtered from 57 total entries)</div>
            </div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example_previous"><a href="#" aria-controls="example" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button next disabled" id="example_next"><a href="#" aria-controls="example" data-dt-idx="2" tabindex="0">Next</a></li></ul></div></div>
        </div>
    </div>
</div>
<!-- /.box-content -->
@* <img src="~/images/user gide/RequestsTask.png" width="1920" height="1077" /> *@

@section Scripts
{



}








