
@{
    ViewData["Title"] = "IndexAr";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminAr.cshtml";
}

	@model ViewmMODeElMASTER
	@inject UserManager<ApplicationUser> userManager
	@inject SignInManager<ApplicationUser> signInManager
@{
	var user = await userManager.GetUserAsync(User);
	var roles = await userManager.GetRolesAsync(user);
	var userRole = roles.FirstOrDefault();
}
<link rel="stylesheet" href="~/css/home.css">

<div class="row small-spacing">
	<div class="col-xs-12">
		<div class="box-content">
			<div class="row">
				<div class="col-5 col-md-4 col-sm-6 col-xs-12">
					<a asp-area="Admin" class="box-content-link" asp-controller="Accounts" asp-action="IndexAr" asp-route-userId="@user.Id">
						<div class="icon-box">
							<i class="fa fa-users"></i>
							<h4>معلومات المستخدمين</h4>
						</div>
					</a>
				</div>
				<div class="col-5 col-md-4 col-sm-6 col-xs-12">
					<a asp-area="Admin" class="box-content-link" asp-controller="ProjectType" asp-action="Index" asp-route-userId="@user.Id">
						<div class="icon-box">
							<i class="fa fa-star"></i>
							<h4>الإعدادات العامة</h4>
						</div>
					</a>
				</div>
				<div class="col-5 col-md-4 col-sm-6 col-xs-12">
					<a asp-area="Admin" class="box-content-link" asp-controller="ProjectInformation" asp-action="MyProjectInformationAr" asp-route-userId="@user.Id">
						<div class="icon-box">
							<i class="fa fa-user"></i>
							<h4>WorkSpace</h4>
						</div>
					</a>
				</div>
				<div class="col-5 col-md-4 col-sm-6 col-xs-12">
					<a asp-area="Admin" class="box-content-link" asp-controller="CustomerMessages" asp-action="MyCustomerMessagesAr" asp-route-userId="@user.Id">
						<div class="icon-box">
							<i class="fa fa-users"></i>
							<h4>العملاء</h4>
						</div>
					</a>
				</div>
				<div class="col-5 col-md-4 col-sm-6 col-xs-12">
					<a asp-area="Admin" class="box-content-link" asp-controller="Merchant" asp-action="MyMerchantAr" asp-route-userId="@user.Id">
						<div class="icon-box">
							<i class="fa fa-group"></i>
							<h4>التجار</h4>
						</div>
					</a>
				</div>
				<div class="col-5 col-md-4 col-sm-6 col-xs-12">
					<a asp-area="Admin" class="box-content-link" asp-controller="OrderNew" asp-action="MyOrderNewAr" asp-route-userId="@user.Id">
						<div class="icon-box">
							<i class="fa fa-archive"></i>
							<h4>الطلبات</h4>
						</div>
					</a>
				</div>
				<div class="col-5 col-md-4 col-sm-6 col-xs-12">
					<a asp-area="Admin" class="box-content-link" asp-controller="" asp-action="" asp-route-userId="@user.Id">
						<div class="icon-box">
							<i class="fa fa-envelope"></i>
							<h4>الأسئلة الشائعة</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="logout-button-container">
				<a asp-area="Admin" asp-controller="Accounts" asp-action="Logout1" class="logout-button">تسجيل الخروج</a>
			</div>
		</div>
	</div>
</div>
<div class="row small-spacing">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Net required</h4>
			<!-- /.box-title -->
			<div class="dropdown js__drop_down">
				<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
				<ul class="sub-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else there</a></li>
					<li class="split"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<!-- /.sub-menu -->
			</div>
			<!-- /.dropdown js__dropdown -->
			<div class="content widget-stat">
				<div class="percent bg-warning"><i class="fa fa-line-chart"></i>53%</div>
				<!-- /.percent -->
				<div class="right-content">
					<h2 class="counter">@ViewBag.total</h2>
					<!-- /.counter -->
					<p class="text">Projects</p>
					<!-- /.text -->
				</div>
				<!-- /.right-content -->
				<div class="clear"></div>
				<!-- /.clear -->
				<div class="process-bar">
					<div class="bar-bg bg-warning"></div>
					<div class="bar js__width bg-warning" data-width="70%"></div>
					<!-- /.bar js__width bg-success -->
				</div>
				<!-- /.process-bar -->
			</div>
			<!-- /.content widget-stat -->
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-lg-3 col-md-6 col-xs-12 -->
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Memory usage</h4>
			<!-- /.box-title -->
			<div class="dropdown js__drop_down">
				<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
				<ul class="sub-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else there</a></li>
					<li class="split"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<!-- /.sub-menu -->
			</div>
			<!-- /.dropdown js__dropdown -->
			<div class="content widget-stat-chart">
				<div class="c100 p76 small blue js__circle">
					<span>76%</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
				<!-- /.c100 p58 -->
				<div class="right-content">
					<h2 class="counter">804</h2>
					<!-- /.counter -->
					<p class="text">Disk usage</p>
					<!-- /.text -->
				</div>
				<!-- /.right-content -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-lg-3 col-md-6 col-xs-12 -->
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Visitor Analytics</h4>
			<!-- /.box-title -->
			<div class="dropdown js__drop_down">
				<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
				<ul class="sub-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else there</a></li>
					<li class="split"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<!-- /.sub-menu -->
			</div>
			<!-- /.dropdown js__dropdown -->
			<div class="content widget-stat">
				<div class="percent bg-danger"><i class="fa fa-line-chart"></i>+40%</div>
				<!-- /.percent -->
				<div class="right-content">
					<h2 class="counter">976</h2>
					<!-- /.counter -->
					<p class="text">Visitors today</p>
					<!-- /.text -->
				</div>
				<!-- /.right-content -->
				<div class="clear"></div>
				<!-- /.clear -->
				<div class="process-bar">
					<div class="bar-bg bg-danger"></div>
					<div class="bar js__width bg-danger" data-width="70%"></div>
					<!-- /.bar js__width bg-success -->
				</div>
				<!-- /.process-bar -->
			</div>
			<!-- /.content widget-stat -->
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-lg-3 col-md-6 col-xs-12 -->
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Monthly Sales</h4>
			<!-- /.box-title -->
			<div class="dropdown js__drop_down">
				<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
				<ul class="sub-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else there</a></li>
					<li class="split"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<!-- /.sub-menu -->
			</div>
			<!-- /.dropdown js__dropdown -->
			<div class="content widget-stat-chart">
				<div class="c100 p94 small green js__circle">
					<span>94%</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
				<!-- /.c100 p58 -->
				<div class="right-content">
					<h2 class="counter">3922</h2>
					<!-- /.counter -->
					<p class="text">Sales</p>
					<!-- /.text -->
				</div>
				<!-- /.right-content -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-lg-3 col-md-6 col-xs-12 -->

	<div class="col-lg-4 col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Statistics</h4>
			<!-- /.box-title -->
			<div class="dropdown js__drop_down">
				<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
				<ul class="sub-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else there</a></li>
					<li class="split"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<!-- /.sub-menu -->
			</div>
			<!-- /.dropdown js__dropdown -->
			<div class="content">
				<div id="chart-2" class="js__chart" data-type="column" data-chart="'Year'/'Statistics' | '2010'/75 | '2011'/42 | '2012'/75 | '2013'/38 | '2014'/19 | '2015'/93 "></div>
			</div>
			<!-- /.content -->
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-lg-4 col-md-12 -->

	<div class="col-lg-4 col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Total Projects</h4>
			<!-- /.box-title -->
			<div class="dropdown js__drop_down">
				<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
				<ul class="sub-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else there</a></li>
					<li class="split"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<!-- /.sub-menu -->
			</div>
			<!-- /.dropdown js__dropdown -->
			<div class="content">
				<div id="chart-3" class="js__chart" data-type="curve" data-chart="'Year'/'Desktop'/'Mobile' | '2008'/53/0 | '2009'/35/73 | '2010'/89/14 | '2011'/50/50 | '2012'/86/37 | '2013'/47/89 | '2014'/75/50 | '2015'/100/70 "></div>
			</div>
			<!-- /.content -->
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-lg-4 col-md-12 -->

	<div class="col-lg-4 col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Daily Sales</h4>
			<!-- /.box-title -->
			<div class="dropdown js__drop_down">
				<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
				<ul class="sub-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else there</a></li>
					<li class="split"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<!-- /.sub-menu -->
			</div>
			<!-- /.dropdown js__dropdown -->
			<div class="content">
				<div id="chart-1" class="js__chart" data-type="donut" data-chart="'Type'/'Number' | 'Normal Sales'/50 | 'In-Site Sales'/20 | 'Mail-Order Sales'/20"></div>
			</div>
			<!-- /.content -->
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-lg-4 col-xs-12 -->

	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-content user-info">
			<div class="avatar"><img src="http://placehold.it/128x128" alt=""></div>
			<!-- /.avatar -->
			<div class="right-content">
				<h4 class="name">Betty Simmons</h4>
				<!-- /.name -->
				<p><a href="mailto:hello@ninjateam.org">hello@ninjateam.org</a></p>
				<div class="text-warning small">Manager</div>
				<!-- /.text-warning -->
			</div>
			<!-- /.right-content -->
		</div>
		<!-- /.user-info -->
	</div>
	<!-- /.col-lg-3 col-md-6 col-xs-12 -->
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-content user-info">
			<div class="avatar"><img src="http://placehold.it/128x128" alt=""></div>
			<!-- /.avatar -->
			<div class="right-content">
				<h4 class="name">Michael Zenaty</h4>
				<!-- /.name -->
				<p><a href="mailto:hello@ninjateam.org">hello@ninjateam.org</a></p>
				<div class="text-custom small">Support</div>
				<!-- /.text-custom -->
			</div>
			<!-- /.right-content -->
		</div>
		<!-- /.user-info -->
	</div>
	<!-- /.col-lg-3 col-md-6 col-xs-12 -->
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-content user-info">
			<div class="avatar"><img src="http://placehold.it/128x128" alt=""></div>
			<!-- /.avatar -->
			<div class="right-content">
				<h4 class="name">Denise Peterson</h4>
				<!-- /.name -->
				<p><a href="mailto:hello@ninjateam.org">hello@ninjateam.org</a></p>
				<div class="text-success small">Designer</div>
				<!-- /.text-warning -->
			</div>
			<!-- /.right-content -->
		</div>
		<!-- /.user-info -->
	</div>
	<!-- /.col-lg-3 col-md-6 col-xs-12 -->
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="box-content user-info">
			<div class="avatar"><img src="http://placehold.it/128x128" alt=""></div>
			<!-- /.avatar -->
			<div class="right-content">
				<h4 class="name">Pamela Wood</h4>
				<!-- /.name -->
				<p><a href="mailto:hello@ninjateam.org">hello@ninjateam.org</a></p>
				<div class="text-danger small">Developer</div>
				<!-- /.text-custom -->
			</div>
			<!-- /.right-content -->
		</div>
		<!-- /.user-info -->
	</div>
	<!-- /.col-lg-3 col-md-6 col-xs-12 -->
	<div class="col-lg-6 col-xs-12">
		<div class="box-content">
			<div id="calendar-widget"></div>
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-lg-6 col-xs-12 -->
	<div class="col-lg-6 col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Purchases</h4>
			<!-- /.box-title -->
			<div class="dropdown js__drop_down">
				<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
				<ul class="sub-menu">
					<li><a href="#">Product</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else there</a></li>
					<li class="split"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<!-- /.sub-menu -->
			</div>
			<!-- /.dropdown js__dropdown -->
			<div class="table-responsive table-purchases">
				<table class="table table-striped margin-bottom-10">
					<thead>
						<tr>
							<th style="width:40%;">Product</th>
							<th>Price</th>
							<th>Date</th>
							<th>State</th>
							<th style="width:5%;"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Amaza Themes</td>
							<td>$71</td>
							<td>Nov 12,2016</td>
							<td class="text-success">Completed</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
						<tr>
							<td>Macbook</td>
							<td>$142</td>
							<td>Nov 10,2016</td>
							<td class="text-danger">Cancelled</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
						<tr>
							<td>Samsung TV</td>
							<td>$200</td>
							<td>Nov 01,2016</td>
							<td class="text-warning">Pending</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
						<tr>
							<td>Ninja Admin</td>
							<td>$200</td>
							<td>Oct 28,2016</td>
							<td class="text-warning">Pending</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
						<tr>
							<td>Galaxy Note 5</td>
							<td>$200</td>
							<td>Oct 28,2016</td>
							<td class="text-success">Completed</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
						<tr>
							<td>CleanUp Themes</td>
							<td>$71</td>
							<td>Oct 22,2016</td>
							<td class="text-success">Completed</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
						<tr>
							<td>Facebook WP Plugin</td>
							<td>$10</td>
							<td>Oct 15,2016</td>
							<td class="text-success">Completed</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
						<tr>
							<td>Iphone 7</td>
							<td>$100</td>
							<td>Oct 12,2016</td>
							<td class="text-warning">Pending</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
						<tr>
							<td>Nova House</td>
							<td>$100</td>
							<td>Oct 12,2016</td>
							<td class="text-warning">Pending</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
						<tr>
							<td>Repair Cars</td>
							<td>$35</td>
							<td>Oct 12,2016</td>
							<td class="text-warning">Pending</td>
							<td><a href="#"><i class="fa fa-plus-circle"></i></a></td>
						</tr>
					</tbody>
				</table>
				<!-- /.table -->
			</div>
			<!-- /.table-responsive -->
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-lg-6 col-xs-12 -->
</div>

